.menu-container {
  width: 100%;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  flex-direction: column;
  margin-bottom: 30px;
  -webkit-font-smoothing: subpixel-antialiased;
}

@media(min-width: 768px){
  .menu-container{
    width: 350px;
    margin: 0 70px 0 20px ;
    position: sticky;
    position: -webkit-sticky;
    top: 10px;
  }
}

.menu-container h1 {
  font-size: 28px;
  font-weight: 600;
  color: #333;
  margin-top: -12px;
}

.menu-container p {
  margin: 0 0 30px;
  color: #727272;
  font-weight: 500;
}

.menu-container .links {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.menu-container .links a {
  color: #267cb9;
  text-decoration: none;
  line-height: 1.2em;
  margin: 0 0 7px;
}

.menu-container .links a:hover {
  color: #1e6394;
}

.menu-container img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
