.menu-container {
  width: 250px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  flex-direction: column;
}

.menu-container h1 {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-top: 0;
}

.menu-container p {
  margin: 0 0 60px;
  color: #727272;
  font-weight: 400;
}

.menu-container .links {
  display: flex;
  flex-direction: column;
}

.menu-container .links a {
  color: #267cb9;
  text-decoration: none;
  margin: 0 0 10px;
}

.menu-container .links a:hover {
  color: #1e6394;
}

.menu-container img {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}