.menu-container {
  width: 270px;
}

.menu-container h1 {
  font-size: 28px;
  color: #333;
  margin-top: 0;
}

.menu-container p {
  margin: 0 0 20px;
  color: #727272;
  font-weight: 400;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.menu-container .links {
  display: flex;
  flex-direction: column;
}

.menu-container .links a {
  color: #267cb9;
  text-decoration: none;
  margin: 0 0 10px;
}

.menu-container .links a:hover {
  color: #1e6394;
}
