#working-papers a {
  text-transform: none;
  color: #267cb9;
  text-decoration: none;
  cursor: pointer; 
}

#working-papers p span {
  font-weight: bold;
  color: black;
}

#working-papers a span {
  font-weight: bold;
  color: #267cb9;
  font-weight: 600;
  font-size: 16px;
}

#working-papers img {
 width: 60%;
 margin-top:40px; 
}

#working-papers .link {
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: #267cb9;
}