#bio a {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: #267cb9;
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


#bio a:hover {
  color: #1e6394;
}
