html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px/1.5px ;
  color: #727272;
  font-weight: 400;
}
#root {
  display: flex;
  justify-content: center;
}
